<html>
<head>
    <title>Add New Trip</title>
</head>
<body>
<h1>Add New Trip</h1>
<form action="/trip/insert" method="get">
    Country Name: <input id="country_name" name="country_name" type="text" />
    Country Number: <input id="country_id" name="country_id" type="text" />
    Trip Number: <input id="trip_number" name="trip_number" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>