<html>
<head>
    <title>Trip - <%= result[0].country_name %></title>
</head>
<body>
<h1>Trip</h1>
<ul>
    <li>Country Name: <%= result[0].country_name %></li>
    <li>Country ID: <%= result[0].country_id %></li>
    <li>Trip Number: <%= result[0].trip_number %></li>
</ul>
</body>

</html>