<html>
<head>
    <title>Add New Client Information</title>
</head>
<body>
<h1>Add New Client Information</h1>
<form action="/client/insert" method="get">
    Client Email: <input id="email" name="email" type="text" />
    Client First Name: <input id="first_name" name="first_name" type="text" />
    Client Last Name: <input id="last_name" name="last_name" type="text" />
    Client Address: <input id="address" name="address" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>