<html>
<head>
    <title>Add New Trip Flight</title>
</head>
<body>
<h1>Add New Trip Flight</h1>
<form action="/tripflight/insert" method="get">
    Country Name: <input id="country_name" name="country_name" type="text" />
    Flight Number: <input id="flight_id" name="flight_id" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>