<html>
<head>
    <title>Airline - <%= result[0].airline_name %></title>
</head>
<body>
<h1>Airline</h1>
<ul>
    <li>Airline Name: <%= result[0].airline_name %></li>
    <li>Flight Type: <%= result[0].flight_type %></li>
</ul>
</body>

</html>