<html>
<head>
    <title>Add New Airline</title>
</head>
<body>
<h1>Add New Airline</h1>
<form action="/airline/insert" method="get">
    Airline Name: <input id="airline_name" name="airline_name" type="text" />
    Flight Type: <input id="flight_type" name="flight_type" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>