<html>
<head>
    <title>Payment - <%= result[0].payment_type %></title>
</head>
<body>
<h1>Payment</h1>
<ul>
    <li>Payment Type: <%= result[0].payment_type %></li>
    <li>Amount: <%= result[0].amount %></li>
</ul>
</body>

</html>