<html>
<head>
    <title>Add New Payment</title>
</head>
<body>
<h1>Add New Payment</h1>
<form action="/payment/insert" method="get">
    Payment Type: <input id="payment_type" name="payment_type" type="text" />
    Amount: <input id="amount" name="amount" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>