<html>
<head>
    <title>Add New Travel Agency</title>
</head>
<body>
<h1>Add New Travel Agency</h1>
<form action="/travel/insert" method="get">
    Agency Email: <input id="email" name="email" type="text" />
    Agency Name: <input id="agency_name" name="agency_name" type="text" />
    Agency Address: <input id="address" name="address" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>