<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/about/all">About Us</a><br/>
    <br/>
    <a href="/travel/all">Travel Agency</a><br/>
    <a href="/client/all">Client Information</a><br/>
    <a href="/airline/all">Airline</a><br/>
    <a href="/flight/all">Flight</a><br/>
    <a href="/trip/all">Trip</a><br/>
    <a href="/payment/all">Payment</a><br/>
    <a href="/tripflight/all">Trip Flight</a><br/>
    <a href="/travelclient/all">Travel Client</a><br/>
    <a href="/travelairline/all">Travel Airline</a><br/>
    <!--<a href="/school/all">Schools - View All</a> <br />-->
    <!--<a href="/account/all">Accounts - View All</a> <br />-->
    <!--<a href="/resume/all">Resumes - View All</a> <br />-->
    <!--<a href="/company/all">Companies - View All</a> <br />-->
    <!--<a href="/address/all">Addresses - View All</a> <br />-->
    <!--<a href="/skill/all">Skills - View All</a> <br />-->

    <br />

  </body>
</html>
