<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="file.css">
  </head>
  <body>
  <FONT COLOR="navy">
    <h1><%= title %></h1>
    <!--<p>Welcome to <%= title %></p>-->
    <p><b>Welcome to <%= subtitle %></b></p>

    <div class="picture"></div>
    <img src="http://pngimg.com/upload/plane_PNG5253.png" style="width:860px;height:368px"></img>
    <br/>
    <br/>
    <br/>
    </FONT>
    <br>
    <FONT></FONT>
    <p align="center"><font color="navy" size="3"><b>Where would you like to go next? Your adventure awaits!</b></font></p>
  <br/>
     <!--<p align="center"><font color="graytext"><b>What travels around the world but stays in one corner? A stamp!</b></font></p>-->
  <br/>

    <br/>


    <br/>
    <a href="/company/all">About Us</a><br/>
    <br/>
    <a href="/travel/all">Travel Agency</a><br/>
  <br/>
    <a href="/client/all">Client Information</a><br/>
  <br/>
    <a href="/airline/all">Airline</a><br/>
  <br/>
    <a href="/flight/all">Flight</a><br/>
  <br/>
    <a href="/trip/all">Trip</a><br/>
  <br/>
    <a href="/payment/all">Payment</a><br/>
  <br/>
    <a href="/tripflight/all">Trip Flight</a><br/>
  <br/>
    <a href="/travelclient/all">Travel Client</a><br/>
  <br/>
    <a href="/travelairline/all">Travel Airline</a><br/>
  <br/>
  <!--<a href="/company/all">Companies - View All</a> <br />-->
  <br />
  <br />
  <br />
  <br />

  <p align="center"><font color="navy"><b>"I told my doctor I broke my leg in two places. He told me to quit going to those places."</b></font></p>
  <p align="center"><font color="navy"><b>"The worst thing about being a tourist is having other tourists recognize you as a tourist."</b></font></p>
  <p align="center"><font color="navy"><b>What travels around the world but stays in one corner? A stamp!</b></font></p>
    <br />

  </body>
</html>
