<html>
<head>
    <title>Add New Travel Airline</title>
</head>
<body>
<h1>Add New Travel Airline</h1>
<form action="/travelairline/insert" method="get">
    Travel Email: <input id="t_email" name="t_email" type="text" />
    Airline Name: <input id="airline_name" name="airline_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>