<html>
<head>
    <title>Travel Airline - <%= result[0].t_email %></title>
</head>
<body>
<h1>Travel Airline</h1>
<ul>
    <li>Travel Agency Email: <%= result[0].t_email %></li>
    <li>Airline Name: <%= result[0].airline_name %></li>
</ul>
</body>

</html>