<html>
<head>
    <title>Add New Flight</title>
</head>
<body>
<h1>Add New Flight</h1>
<form action="/flight/insert" method="get">
    Arrival City: <input id="arrival_city" name="arrival_city" type="text" />
    Departure City: <input id="departure_city" name="departure_city" type="text" />
    Price: <input id="price" name="price" type="text" />
    Arrival Time: <input id="arrival_time" name="arrival_time" type="text" />
    Departure Time: <input id="departure_time" name="departure_time" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>