<html>
<head>
    <title>Add New Travel Client</title>
</head>
<body>
<h1>Add New Travel Client</h1>
<form action="/travelclient/insert" method="get">
    Travel Email: <input id="t_email" name="t_email" type="text" />
    Client Email: <input id="c_email" name="c_email" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>