<html>
<head>
    <title>Travel Client - <%= result[0].t_email %></title>
</head>
<body>
<h1>Travel Client</h1>
<ul>
    <li>Travel Email: <%= result[0].t_email %></li>
    <li>Client Email: <%= result[0].c_email %></li>
</ul>
</body>

</html>