<html>
<head>
    <title>Update <%= travelclient.t_email%></title>
</head>
<body>
<h1>Update <%= travelclient.t_email%></h1>
<form action="/travelclient/update" method="get">
    <input type="hidden" id="t_email" name="t_email" value="<%= travelclient.t_email %>">
    Agency Name: <input id="c_email" name="agency_name" type="text" value="<%= travelclient.c_email%>"/>
    <br />
    <br />

    <br />

    <input type="submit" />

</form>
</body>

</html>