<html>
<head>
    <title>Trip Flight - <%= result[0].country_name %></title>
</head>
<body>
<h1>Trip Flight</h1>
<ul>
    <li>Country Name: <%= result[0].country_name %></li>
    <li>Flight ID: <%= result[0].flight_id %></li>
</ul>
</body>

</html>